<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>据外媒报道，华为日前宣布，将于 11 月 27 日在印度正式发布 Mate 20 系列手机 ... 据悉，其中 Mate 20 Pro 和 Mate 20 RS 保时捷设计在印度与亚马逊合作线上销售。亚马逊的宣传页面显示，华为 Mate 20 Pro 和森海塞尔 PXC 550 无线降噪耳机搭配销售 ... 目前官方还未公布新机在印度的售价，按照惯例会比国行华为 Mate 20 系列贵。目前华为 Mate 20 Pro 已经在中国和欧洲上市。</string>
	<string>意大利税务部门周四表示，Facebook 已同意支付逾 1 亿欧元（1.14 亿美元）以结束一场财政欺诈纠纷 ... 意大利税务当局在一份声明中说，该协议旨在「结束在米兰检察官的命令下，金融警察（GdF）在 2010-2016 年期间税务调查中的分歧。」 ... 意大利已经与亚马逊、苹果和谷歌签署了类似协议，寻求从跨国公司那里获得更高税金。而此前，这些跨国公司都在利用政策漏洞，将经营利润转移至税收制度较为优惠的国家。</string>
	<string>交通部召开民营企业座谈会：顺丰百度滴滴等参加</string>
	<string>2017 年 6 月，谷歌因用户在搜索时系统性地提升自家比较购物服务在搜索结果中的排名，被欧盟重罚 27 亿美元 ... 曾导致谷歌遭到重罚的多家竞争对手表示，谷歌仍然未遵守欧盟的竞争法律。</string>
	<string>昨天下午开始，不少 iPhone 用户反馈称，手机 QQ 出现闪退现象，无法正常使用 ... 昨天 23:37，手机 QQ 官微表示「今晚，有部分用户反馈」QQ iOS 版本闪退问题，目前产品团队正在紧急排查及修复。很抱歉给大家带来不便，修复后我们会在第一时间同步。 」 ... 截至发稿，该账号尚未有修复消息发出。而微博上，截至早上 6 点，依然有网友称还未修复。有网友称，卸载手机 QQ 重新安装可能就好了。</string>
	<string>腾讯榫卯解密游戏《第五大发明》获国际移动游戏大奖</string>
	<string>栗战书在主持座谈会时说，习近平总书记的重要讲话，回顾了刘少奇同志伟大、光荣的一生，高度评价了刘少奇同志的丰功伟绩，号召全党全国人民学习刘少奇同志的崇高品德和精神风范。讲话对于指导我们党把刘少奇同志等老一辈革命家所开创的伟大事业继续推向前进，在新时代坚持和发展中国特色社会主义具有重大意义。我们要认真学习、深刻领会、切实贯彻习近平总书记的重要讲话精神，在习近平新时代中国特色社会主义思想指引下，紧密团结在以习近平同志为核心的党中央周围，为决胜全面建成小康社会、夺取新时代中国特色社会主义伟大胜利、实现中华民族伟大复兴的中国梦而努力奋斗。</string>
	<string>我爱你中国🇨🇳</string>
</array>
</plist>
